<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
  
<title>Memes Feed</title>
</head>

<body>
    <div class='container memes-feed'>
        <% if (memes.length==0) { %>
            <div class='empty-feed'>
                <% if (favourites) { %>
                    <p>You don't have any favourites yet<p>
                    <p>Bookmark  memes you like to see here!</p> 
                    <div><a href='/memes/feed'><button class="meme-btn">view all memes</button></a></div>
                <% }else{ %>
                <p>Eww! Looks like the meme world has gone dry! <p>
                 <p>Let's start the fun by adding your first meme!</p> 
                <div><a href='/'><button class="meme-btn">Let's go!</button></a></div>
                <% } %>
            </div>
        <% }else{ %>
        <div>
            <a href='/'><button class="meme-btn">Add a meme</button></a>
            <% if (favourites) { %>
                <a href='/memes/feed'><button class="meme-btn">view all memes</button></a>
            <% }else{ %>

                <a href='/memes/bookmarked'><button class="meme-btn">view favourites</button></a>
                <% } %>
        </div>
    <div class='title'>
        <h1>Memes</h1>
        <hr>
    </div>
    
    <% memes.forEach(meme => { %>
        <div class='meme'>
            <div class='meme-title'>
                <h2><%= meme.name %> </h2>
                <form action="/memes/<%= meme.id%>?_method=DELETE" method="POST">
                    <button>del</button>
                </form>
            </div>
            <p><%= meme.caption %> </p>
            <img src='<%= meme.url %>' />
            <div class='meme-buttons'>
                <a href='/memes/<%= meme.id%>/edit'><button class='meme-card-btn'>Edit</button></a>
                
                    <% if (favourites) { %>
                        <form method="POST" action='/memes/<%= meme.id%>/bookmarked?_method=DELETE'>
                            <button class='meme-card-btn'>Remove from favourites</button>
                        </form>
                    <% }else{ %>
        
                        <a href='/memes/<%= meme.id%>/bookmarked'>
                            <button class='meme-card-btn'>Bookmark</button>
                        </a>
                    <% } %>
                
            </div>
        </div>
    <% })} %>
</div>
<!-- <script type="text/javascript" href="/javascripts/index.js"></script>   -->
</body>
</html>